.main-content {
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    place-items: center;
    row-gap: 5rem;
    align-items: center;
}

.spots-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    border:1px solid black;
    width: 300px;
    height: 300px;
    justify-content: space-between;
    padding:10px;
    box-sizing: border-box;
    background-color: gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

.location-starrating{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 5rem;
    font-family: Georgia,serif;
    font-size: 15px;
}
.spot-image {
   width: 100%;
   height:auto;
   max-height: 60%;
   object-fit: cover;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.details{
    font-family: Georgia,serif;
    font-size: 15px;
}
