.home{
    display: flex;
    align-items: center;
}
.profileButtonInNavigation {
    display:inline;
    flex-direction:row;
    cursor: pointer;
}
.create-a-spot{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1400px;
}
.spotFormLink {
    font-size: 25px;
    color: blue;
    text-decoration: none;
    margin-left: 1rem;
  }
  
  .spotFormLink:hover {
    text-decoration: underline;
  }
  
  